<html>
<head>
    <title>Hello World!</title>
    <script src="../scripts/external/lokijs.min.js"></script>
    <script src="../scripts/external/d3.v3.min.js"></script>
    <script src="../scripts/pcapng-js/pcapng-js.js"></script>
    <script src="../scripts/pcapng-js/block-types.js"></script>
    <script src="../scripts/pcapng-js/headers.js"></script>
    <script src="../scripts/PacketProcessing.js"></script>
    <script src="../scripts/graphs.js"></script>
</head>
<body>
<h1>Hello World!</h1>
<input type="text" id="senderSelf" value="10.0.0.21" />
<input type="text" id="senderOther" value="130.160.143.212" />
<input type="text" id="recSelf" value="10.112.4.172" />
<input type="text" id="recOther" value="68.62.144.245" />
<input type="file" id="fileSend" />
<input type="file" id="fileReceive" />

<h1 onclick="main()">Read me</h1>

<svg id="visualisation" width="1070", height="240"></svg>

<table>
    <thead>
    <tr><td>From</td><td>To</td><td>Sent</td><td>Rec</td><td>SendID</td><td>RecID</td></tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>
</body>
<script>
    function test() {
        var fileInput = document.querySelector('input[type=file]');
        var path = fileInput.value;

        var fs = nw.require('fs');
        fs.readFile(path, 'utf8', function (err, txt) {
            if (err) {
                console.error(err);
                return;
            }

            console.log(txt);
        });


    }

    function readPcap() {
        var fileInput = document.querySelector('input[type=file]');
        var path = fileInput.value;


        var arrayBuffer;
        var fileReader = new FileReader();
        fileReader.onload = function () {
            arrayBuffer = this.result;

            var blocks = PCAPNG.processPcapng(arrayBuffer);
            console.log(blocks.length);
        }
        fileReader.readAsArrayBuffer(fileInput.files[0]);

        //var file = new File(path);
        //var blocks = PCAPNG.processPcapng(fileInput.files[0]);
        //console.log(blocks.length);
    }

    var readySend = false;
    var readyReceive = false;
    function main() {
        var sendFile = document.querySelector('#fileSend');
        var receiveFile = document.querySelector('#fileReceive');

        var fileReader = new FileReader();
        fileReader.onload = function () {
            var blocks = PCAPNG.processPcapng(this.result);
            TV.importPackets(blocks, TV.sender);
            readySend = true;
        };
        fileReader.readAsArrayBuffer(sendFile.files[0]);

        fileReader = new FileReader();
        fileReader.onload = function () {
            var blocks = PCAPNG.processPcapng(this.result);
            TV.importPackets(blocks, TV.receiver);
            readyReceive = true;
        };
        fileReader.readAsArrayBuffer(receiveFile.files[0]);

        run();
    }

    function run() {
        if (!(readyReceive && readySend)) {
            console.log("Not ready");
            return setTimeout(run, 250);
        }

        var srcIP = document.getElementById('senderSelf').value;
        var dstIP = document.getElementById('senderOther').value;
        var osrcIP = document.getElementById('recOther').value;
        var odstIP = document.getElementById('recSelf').value;

        TV.normalizePackets(srcIP, dstIP, osrcIP, odstIP);
        TV.matchPackets(srcIP, dstIP);

        var data = TV.db.getCollection("pairs").chain().simplesort('sendertime')/*.limit(10)*/.data();
        for (var i=0; i<data.length; i++) {
            var table = document.getElementById('tbody');
            table.insertAdjacentHTML('beforeend', "<tr><td>"+data[i].fromip+"</td><td>"+data[i].toip+
            "</td><td>"+data[i].senttime+"</td><td>"+data[i].rectime+"</td><td>"+data[i].sendid+"</td><td>"+data[i].recid+
            "</td><td>"+data[i].sender.seq+"</td><td>"+data[i].sender.ack+"</td></tr>");
        }

        process10Packets("#visualisation", srcIP, dstIP);

        console.log(TV.db.getCollection('pairs').count());
    }

</script>
</html>